<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/137d69cb-21ce-4ca1-b80d-18e448cd34ae/resourcegroups/MathMastersWebMVC20210505173932ResourceGroup/providers/Microsoft.Web/sites/MathMastersWebMVC20210505173932</ResourceId>
    <ResourceGroup>MathMastersWebMVC20210505173932ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mathmasterswebmvc20210505173932.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mathmasterswebmvc20210505173932.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MathMastersWebMVC20210505173932</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MathMastersWebMVC20210505173932</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mathmasters-webmvcdbserver.database.windows.net,1433;Initial Catalog=MathMasters.WebMVC_db;User ID=MathMasters@mathmasters-webmvcdbserver;Password=CAM$66cm" Name="Data Source=tcp:mathmasters-webmvcdbserver.database.windows.net,1433;Initial Catalog=MathMasters.WebMVC_db;User Id=MathMasters@mathmasters-webmvcdbserver;Password=CAM$66cm" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MathMasters.Data.ApplicationDbContext, MathMasters.Data" MigrationConfiguration="MathMasters.Data.Migrations.Configuration, MathMasters.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mathmasters-webmvcdbserver.database.windows.net,1433;Initial Catalog=MathMasters.WebMVC_db;User Id=MathMasters@mathmasters-webmvcdbserver;Password=CAM$66cm</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>